<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
						http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/spring-data-config.xml" />

	<context:annotation-config />
	<context:component-scan base-package="com.bussvcs.retailstore" />


	<bean id="productServiceImpl" class="com.bussvcs.retailstore.service.impl.ProductServiceImpl" />
	<bean id="billServiceImpl" class="com.bussvcs.retailstore.service.impl.BillingServiceImpl" />
	<bean id="connectivityServiceImpl"
		class="com.bussvcs.retailstore.service.impl.ConnectivityServiceImpl" />


	<jaxrs:server id="retailStoreService" address="/retailStore/">
		<jaxrs:serviceBeans>
			<ref bean="productServiceImpl" />
			<ref bean="billServiceImpl" />
			<ref bean="connectivityServiceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean id="jacksonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>



</beans>